body {
    margin: 5cm 100mm 5cm 100 mm
    
    font-family: "Lato", sans-serif;

    /*

    color: hsl(h, s, l);
    color: hsla(h, s, l, a);
    color: green;


    px
    mm
    cm

    em 
    ch
    vw

    
    */
  

}

aside {
    margin-top: 10 px;
    margin-bottom: 20 px;
    margin-left: 20 px;
    margin-right: 20 px;
    padding-top: 2px;
    padding-bottom: .5em;
    padding-left: 2ch;
    padding-right: 2ch;

}

header {
    color: rgb(0, 0, 0); 
    position: static;
    padding: 2vw 2vw 2vw 2vw; 
}

main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    align-self: auto;
    position: relative;
    padding: 2vw 2vw 1vw 2vw; 
    
}

#my_major {
    color: rgba(220, 20, 60, .7);
}

#p1 { 
    color: #00F; 
    display: inline-block;
    margin: auto;
}

#p2 { text-decoration: underline; }
table { 
    text-align: center;
    background-color: green;
    color: #7FFFD4; 
    width: 380px;
    height: 200px;
    border-style: solid;
    border-color: green;
    border-width: thin;
    border-radius: 10px;

}

footer {
    display: grid; 
    align-content: stretch;
    align-items: flex-start;
    align-self: auto;
    max-width: 75%;
    min-width: 25%;
    padding: 2vw 2vw 2vw 2vw; 
}
a:hover{
    color: #0011ffa1;
  }
  
  a:active {
    color: #2c8509b2;
  }
  
h1 {}
h2 {display: inline;}
h3 {display: block;}

@media screen and (min-width: 900px) {
    body {
      background-color: white;
    }
  }